* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;

    --card-border-radius: 11px;
    --genre-tag-border-radius: 8px;
    --card-bg-blur: 3px;
    --color-white: rgba(239, 244, 248, 0.70);
    --color-bright-pink-a: #FB9DE3;
    --color-bright-pink-b: #D0AABB;
    --color-dark-pink: #9D3359;
    --color-bright-green: #BFD953;
    --color-green: #86B034;
    --color-title: #000;
    --color-subtitle: #292929;
    --color-genre-text: #000;
}

body {
    background-image: url("resources/images/bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.shadow {
    left: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(85, 85, 85, 0.74);
    display: block;
    z-index: 998;
}

/* GALLERY */
#container_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    box-sizing: border-box;
    margin: auto;

    /* Layout */
    display: flex;
    width: 603px;
    align-items: flex-start;
    gap: 10px;

    /* Style */
    border-radius: var(--card-border-radius);
    background: var(--color-white);
    backdrop-filter: blur(--card-bg-blur);
}

.card__poster {
    box-sizing: border-box;

    /* Layout */
    width: 225px;
    height: 335px;
    flex-shrink: 0;

    /* Style */
    border-radius: var(--card-border-radius);
    background-color: var(--color-bright-green);
}

.card__text_content {
    box-sizing: border-box;

    /* Layout */
    display: flex;
    width: 378px;
    min-height: 335px;
    padding: 20px 10px 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    /* Position */
    position: relative;
    right: 0px;
}

.card__title {
    /* Typography */
    color: var(--color-title);
    font-family: Arial;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.card__subtitle {
    box-sizing: border-box;

    /* Layout */
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.card__subtitle p {
    /* Typography */
    color: var(--color-subtitle);
    font-family: Arial;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card__genre_list {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
    padding: 0 10px 0;
}

.genre_tag {
    /* Layout */
    display: inline-flex;
    padding: 10px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* Style */
    border-radius: var(--genre-tag-border-radius);
    background: var(--color-green);

    /* Typography */
    color: var(--color-genre-text);
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* GALLERY */

/* SEARCH */
#search {
    position: sticky;
    z-index: 999;
}
#search form {
    box-sizing: border-box;

    /* Layout */
    display: flex;
    width: 100vw;
    /* height: 60px; */
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;

    /* Style */
    background: #802877;
}

#search #bar {
    display: flex;
    width: 100%;
    gap: 0;
    border-radius: 4px;
}

#search input[type="search"],
#search select,
#search #search_icon {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#search select,
#search #search_icon {
    background-color: #e6e6e6;
}

#search select:hover,
#search #search_icon:hover {
    cursor: pointer;
    background-color: #dadada;
}

#search input[type="search"] {
    width: 100%;
}

#search input[type="search"]:focus {
    outline: none;
}

#search select {
    border-radius: 4px 0px 0px 4px;
}

#search input[type="submit"]{
    display: none;
}

#search #search_icon {
    display: block;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 0px 4px 4px 0px;
}

.search__bar_focus {
    outline: thick double pink;
}

#search #search_genres {
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    display:none;
    /* display: flex; */
    align-content: center;
}

#search #search_genres div {
    display: inline-flex;
    padding: 8px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    border-radius: 8px;
    background: #86B034; 
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
/* SEARCH */

/* GALLERY CONTROLLER */
#gallery_controller {
    box-sizing: border-box;

    /* Layout */
    display: flex;
    width: 100vw;
    /* height: 60px; */
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Style */
    background: #802877;
}

#gallery_controller #exclude {
    display: flex;
    gap: 5px;   
}

/* GALLERY CONTROLLER */